# Primeiros Exemplos

In [4]:
print('primeiro programa')
1 \
+ 2

help(print)

primeiro programa
Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

No caso acima a quebra de linha da operacao 1 + 2, é possível, inserindo para isso a barra invertida.

In [6]:
1 + 2 + 3
4 + 5 + 6

15

No caso acima para poder mostrar o resultado das duas operacoes é necessários usar print

In [7]:
print(1 + 2 + 3)
print(4 + 5 + 6)

6
15

# Tipos Básicos

In [18]:
print(True) # tipo booleano
print(False)# tipo booleano
print(1.2 + 1) # tipos real e int
print("Aqui eu falo no meu idioma") # tipo string
print("Tb funciona")
print('Você é '+ 3 * 'muito '+ 'legal')
# print(3 + '3') => ambiguidade => int + string
print([1, 2, 3]) # tipo lista
print({'nome': 'Pedro', 'idade': 22}) # tipo dicionario
print(None) # tipo ausencia de valor

True
False
2.2
Aqui eu falo no meu idioma
Tb funciona
Você é muito muito muito legal
[1, 2, 3]
{'nome': 'Pedro', 'idade': 22}
None

# Variáveis

In [21]:
a = 10
b = 5.2

print(a + b)

a = 'Agora sou uma string' # trocando tipo da variável "a""
print(a)
a
b

15.2
Agora sou uma string

5.2

# Comentários

In [23]:
# Minhas variáveis
salario = 3450.45
despesas = 2456.2

"""
A ideia é calcular o
quanto vai sobrar no
final do mes
"""
'''
A ideia é calcular o
quanto vai sobrar no
final do mes
'''
print(salario - despesas)

# para comentar multiplas linhas duas opções:
#     1) selecionar linhas e teclar cmd + /
#     2) inciar e terminar um bloco de linhas 
#        com """(3 aspas ou 3 apostrofes)

994.25

# Operadores Aritméticos

In [27]:
print(2 + 3)
print(4 - 7)
print(2 * 5.3)
print(9.4 / 3)
print(9.4 // 3) # // => força o resultado a ser inteiro
print(2 ** 8) # exponenciação
print(10 % 3)

a = 12
b = a # o mesmo valor a é atribuido a b
print(a + b)

5
-3
10.6
3.1333333333333333
3.0
256
1
24

In [33]:
# Minhas variáveis
salario = 3450.45
despesas = 2456.2

# Resposta do desafio
print(despesas / salario * 100)

71.18491790925822

# Operadores Relacionais

In [34]:
3 > 4
4 <= 3
1 < 2
3 <= 1
3 != 2 # não igual ou diferente
3 == 3 # comparação de igualdade
2 == '2' # false pois '2' é string

False

# Operadores de Atribuição

In [44]:
a = 3
a = a + 7
print(a)

a += 5
print(a)

a -= 3
print(a)

a *= 2
print(a)

a /= 4
print(a)

a %= 4 # resto da divisão
print(a)

a **= 8
print(a)

a //= 127 # divisão com resultado inteiro
print(a)

10
15
12
24
6.0
2.0
256.0
1.0

# Operadores Lógicos

In [55]:
True or False
7 != 3 and 2 > 3

# Tabela verdade - and
print(True and True)
print(True and False)
print(False and True)
print(False and False)

# Tabela verdade - or
print(True or True)
print(True or False)
print(False or True)
print(False or False)

# Tabela verdade - xor - um ou outro
print(True != True)
print(True != False)
print(False != True)
print(False != False)

# negação (unario)
print(not True)
print(not False)

not 0 # True, pois zero é falso
not 1 # False, qq num será verdadeiro
not not 1 # true, volta ao original

# Cuidado - Operadores bit a bit
True & False #(and)
False | True #(ou)
True ^ False #(xor)

# And Bit-a-bit
# 3 = 11 - número binario
# 2 = 10
# _ = 10 (analise por coluna => 1 e 1 = 1 , 1 e 0 = 0)
3 & 2 # 10 = 2

# Or Bit-a-bit
# 3 = 11 - número binario
# 2 = 10
# _ = 11 (analise por coluna => 1 ou 1 = 1 , 1 ou 0 = 1)
3 | 2 # 11 = 2

# XOr Bit-a-bit
# 3 = 11 - número binario
# 2 = 10
# _ = 01 (analise por coluna => 1 exc 1 = 0 , 1 exc 0 = 1)
3 ^ 2 # 01 = 1

True
False
False
False
True
True
True
False
False
True
True
False
False
True

2

# Desafio Op. Logicos

In [67]:
# os trabalhos - Cenarios a serem testados
# alterar os cenarios para testar
trabalho_terca = True
trabalho_quinta = False

"""
- Confirmado os 2: Tv 50'+ sorvete
- Confirmado apenas 1: tv32 + sorvete
- Nenhum confirmado: Fica em casa
"""

TV50 = trabalho_terca and trabalho_quinta
sorvete = trabalho_terca or trabalho_quinta
TV32 = trabalho_terca != trabalho_quinta
fica_casa = not sorvete

print("TV50={} TV32={} Sorvete={} Saudavel={}"
     .format(TV50, TV32, sorvete, fica_casa))

TV50=False TV32=True Sorvete=True Saudavel=False

# OPERADORES UNÁRIOS

In [ ]:
a = 3
# a++ - não existe esta sintaxe no python
a += 1 # para incrementar em substituicao a a++
a -= 1
-a # mostra a como um número negativo
a = -a # torna o valor de a negativo, pois houve nova atribuição
+a # mostra a como um numero positivo

# Operadores Ternários

In [8]:
esta_chuvendo = False
# Opção 1
print('Hoje estou com as roupas '+ ('secas.','molhadas.')[esta_chuvendo])
# as opcoes secas ou molhadas sao determinadas através da
# varíavel esta_chuvendo sendo TRUE a opçao mais perto de
# [esta_chuvendo], neste caso 'molhadas.'

# Opção 2
print('Hoje estou com as roupas '+ ('molhadas.' if esta_chuvendo else 'secas.'))

Hoje estou com as roupas secas.
Hoje estou com as roupas secas.

# Mais Operadores

In [12]:
# Operadores de Membro
lista = [1,2,3, 'Ana', 'Carla']
2 in lista
'Ana'not in lista

# Operador de Identidade
x = 3
y = x
z = 3
x is y # True
y is z # True
x is not z # False

lista_a = [1, 2, 3]
lista_b = lista_a
lista_c = [1, 2, 3] 
# lista_c aponta para uma posição de memoria 
# diferente de lista_a

lista_a is lista_b # true
lista_b is lista_c # False
lista_a is not lista_c # true

True