# Primeiros Exemplos

In [4]:
print('primeiro programa')
1 \
+ 2

help(print)

primeiro programa
Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

No caso acima a quebra de linha da operacao 1 + 2, é possível, inserindo para isso a barra invertida.

In [6]:
1 + 2 + 3
4 + 5 + 6

15

No caso acima para poder mostrar o resultado das duas operacoes é necessários usar print

In [7]:
print(1 + 2 + 3)
print(4 + 5 + 6)

6
15

# Tipos Básicos

In [18]:
print(True) # tipo booleano
print(False)# tipo booleano
print(1.2 + 1) # tipos real e int
print("Aqui eu falo no meu idioma") # tipo string
print("Tb funciona")
print('Você é '+ 3 * 'muito '+ 'legal')
# print(3 + '3') => ambiguidade => int + string
print([1, 2, 3]) # tipo lista
print({'nome': 'Pedro', 'idade': 22}) # tipo dicionario
print(None) # tipo ausencia de valor

True
False
2.2
Aqui eu falo no meu idioma
Tb funciona
Você é muito muito muito legal
[1, 2, 3]
{'nome': 'Pedro', 'idade': 22}
None

# Variáveis

In [21]:
a = 10
b = 5.2

print(a + b)

a = 'Agora sou uma string' # trocando tipo da variável "a""
print(a)
a
b

15.2
Agora sou uma string

5.2

# Comentários

In [23]:
# Minhas variáveis
salario = 3450.45
despesas = 2456.2

"""
A ideia é calcular o
quanto vai sobrar no
final do mes
"""
'''
A ideia é calcular o
quanto vai sobrar no
final do mes
'''
print(salario - despesas)

# para comentar multiplas linhas duas opções:
#     1) selecionar linhas e teclar cmd + /
#     2) inciar e terminar um bloco de linhas 
#        com """(3 aspas ou 3 apostrofes)

994.25

# Operadores Aritméticos

In [27]:
print(2 + 3)
print(4 - 7)
print(2 * 5.3)
print(9.4 / 3)
print(9.4 // 3) # // => força o resultado a ser inteiro
print(2 ** 8) # exponenciação
print(10 % 3)

a = 12
b = a # o mesmo valor a é atribuido a b
print(a + b)

5
-3
10.6
3.1333333333333333
3.0
256
1
24

In [33]:
# Minhas variáveis
salario = 3450.45
despesas = 2456.2

# Resposta do desafio
print(despesas / salario * 100)

71.18491790925822

# Operadores Relacionais

In [34]:
3 > 4
4 <= 3
1 < 2
3 <= 1
3 != 2 # não igual ou diferente
3 == 3 # comparação de igualdade
2 == '2' # false pois '2' é string

False

# Operadores de Atribuição

In [44]:
a = 3
a = a + 7
print(a)

a += 5
print(a)

a -= 3
print(a)

a *= 2
print(a)

a /= 4
print(a)

a %= 4 # resto da divisão
print(a)

a **= 8
print(a)

a //= 127 # divisão com resultado inteiro
print(a)

10
15
12
24
6.0
2.0
256.0
1.0

# Operadores Lógicos

In [55]:
True or False
7 != 3 and 2 > 3

# Tabela verdade - and
print(True and True)
print(True and False)
print(False and True)
print(False and False)

# Tabela verdade - or
print(True or True)
print(True or False)
print(False or True)
print(False or False)

# Tabela verdade - xor - um ou outro
print(True != True)
print(True != False)
print(False != True)
print(False != False)

# negação (unario)
print(not True)
print(not False)

not 0 # True, pois zero é falso
not 1 # False, qq num será verdadeiro
not not 1 # true, volta ao original

# Cuidado - Operadores bit a bit
True & False #(and)
False | True #(ou)
True ^ False #(xor)

# And Bit-a-bit
# 3 = 11 - número binario
# 2 = 10
# _ = 10 (analise por coluna => 1 e 1 = 1 , 1 e 0 = 0)
3 & 2 # 10 = 2

# Or Bit-a-bit
# 3 = 11 - número binario
# 2 = 10
# _ = 11 (analise por coluna => 1 ou 1 = 1 , 1 ou 0 = 1)
3 | 2 # 11 = 2

# XOr Bit-a-bit
# 3 = 11 - número binario
# 2 = 10
# _ = 01 (analise por coluna => 1 exc 1 = 0 , 1 exc 0 = 1)
3 ^ 2 # 01 = 1

True
False
False
False
True
True
True
False
False
True
True
False
False
True

2

# Desafio Op. Logicos

In [67]:
# os trabalhos - Cenarios a serem testados
# alterar os cenarios para testar
trabalho_terca = True
trabalho_quinta = False

"""
- Confirmado os 2: Tv 50'+ sorvete
- Confirmado apenas 1: tv32 + sorvete
- Nenhum confirmado: Fica em casa
"""

TV50 = trabalho_terca and trabalho_quinta
sorvete = trabalho_terca or trabalho_quinta
TV32 = trabalho_terca != trabalho_quinta
fica_casa = not sorvete

print("TV50={} TV32={} Sorvete={} Saudavel={}"
     .format(TV50, TV32, sorvete, fica_casa))

TV50=False TV32=True Sorvete=True Saudavel=False

# OPERADORES UNÁRIOS

In [ ]:
a = 3
# a++ - não existe esta sintaxe no python
a += 1 # para incrementar em substituicao a a++
a -= 1
-a # mostra a como um número negativo
a = -a # torna o valor de a negativo, pois houve nova atribuição
+a # mostra a como um numero positivo

# Operadores Ternários

In [8]:
esta_chuvendo = False
# Opção 1
print('Hoje estou com as roupas '+ ('secas.','molhadas.')[esta_chuvendo])
# as opcoes secas ou molhadas sao determinadas através da
# varíavel esta_chuvendo sendo TRUE a opçao mais perto de
# [esta_chuvendo], neste caso 'molhadas.'

# Opção 2
print('Hoje estou com as roupas '+ ('molhadas.' if esta_chuvendo else 'secas.'))

Hoje estou com as roupas secas.
Hoje estou com as roupas secas.

# Mais Operadores

In [12]:
# Operadores de Membro
lista = [1,2,3, 'Ana', 'Carla']
2 in lista
'Ana'not in lista

# Operador de Identidade
x = 3
y = x
z = 3
x is y # True
y is z # True
x is not z # False

lista_a = [1, 2, 3]
lista_b = lista_a
lista_c = [1, 2, 3] 
# lista_c aponta para uma posição de memoria 
# diferente de lista_a

lista_a is lista_b # true
lista_b is lista_c # False
lista_a is not lista_c # true

True

# Builtins

In [19]:
# type()
type(1) # int
__builtins__.type('FalaGalera') # string
__builtins__.print(10/3) # 3.33333

# __builtins__.help(__builtins__.dir)
# dir()
dir(__builtins__)

3.3333333333333335

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

# Conversão de Tipos

In [23]:
2 + 3 # 5
'2'+ '3' # 23
# 2 = '3' - ERRO - tipos diferentes
# print(2 + '3') - ERRO - tipos diferentes

a = 2
b = '3'
print(type(a)) # int
print(type(b)) # str

print(a + int(b)) # 5 - int(b) converte b para int
print(str(a) + b) # 23 - str(a) converte a para str concatenado com b
print(a + float('3.4')) # 5.4 - 3.4 é convertido

<class 'int'>
<class 'str'>
5
23
5.4

# Coerção Automática

In [26]:
10 / 2 # 5.0 (float)
10 // 3 # 3 (int)
10 // 3.3 # 3 (float)  - por causa 3.3
2 + True # 3 - assume True como sendo 1
2 + False # 2 - assume False como sendo 0

3

# Tipos Númericos

In [34]:
dir(int)
dir(float)
# mostrará as funcionalidades internas

a = 5
b = 2.5
a / b # float
a + b
a * b

type(a) # int
type(b) # float
type(a-b) # float

b.is_integer() # False
5.0.is_integer() # True

dir(int)
int.__add__(2, 3) # mesmo que 2 + 3

(-2).__abs__() # mesmo que abs(-2)

2

In [40]:
1.1 + 2.2 # 3.3000000000000003
from decimal import Decimal, getcontext
Decimal(1) / Decimal(7) # Decimal('0.1428571428571428571428571429')

getcontext().prec = 4 # precisão de 4 casas
Decimal(1) / Decimal(7) # Decimal('0.1429')
Decimal.max(Decimal(1), Decimal(7)) # Decimal('7')
dir(Decimal)

Decimal(1.1) + Decimal(2.2) # Decimal('3.300')

Decimal('3.300')

# Tipo String

In [49]:
dir(str)

nome = 'Saulo Pedro'
nome # 'Saulo Pedro'
nome[0] # 'S' - uma string tem seus caracteres
# indexados começando pelo indice 0 (zero)

# nome[0] = 'P' - ERRO pois não é possivel alterar
# o valor de uma string, o que se pode fazer é alterar
# o valor da variável

# 'marca d'água' - ERRO
"Dias D'Avila" == 'Dias D\'Avila'
"Teste \" funcional"
texto = 'Texto entre apostrofes pode ter "aspas"'

doc = """Texto com múltiplas
... linhas"""
doc
print('Texto com multiplas\n... linhas')
print(doc)

doc2 = '''Texto com múltiplas
... linhas'''
doc2

Texto com multiplas
... linhas
Texto com múltiplas
... linhas

'Texto com múltiplas\n... linhas'

In [65]:
nome = 'Ana Paula'
nome[0] # 'A'
nome[6] # 'u'
nome[-3] # 'u' - começa da direita para esquerda
# sendo o -1 o último carcter da string
nome[4:] # Paula - mostra a partir do indice 4
nome[-5:] # Paula - mostra da direita p/esq do indice -5 adiante
nome[:3] # Mostra do inicio até o indice 3(exclusive)
nome[2:5] # 'a P' - mostra do 2 até o 5(exclusive)

numeros = '1234567890'
numeros
numeros[::] # mostra do inicio até o final
numeros[::2] # '13579' - mostra do inicio ao final de dois em dois
numeros[1::2] # '24680' - de 2 em dois a partir do indice 1
numeros[::-1] # '0987654321' - do inicio ao fim mas da direita p/ esquerda
numeros[::-2] # '08642' - da direita p/ esq de 2 em 2
 
nome[::-1] # 'aluaP anA' - espelhando nome

'aluaP anA'

In [73]:
frase = 'Python é uma linguagem excelente'
'py' not in frase # True
'ing' in frase # True
len(frase) # 32
frase.lower() # 'python é uma linguagem excelente'
# não modifica a variável frase
frase.upper() # 'PYTHON É UMA LINGUAGEM EXCELENTE'
frase.split() # ['Python', 'é', 'uma', 'linguagem', 'excelente']
frase.split('e') # ['Python é uma linguag', 'm ', 'xc', 'l', 'nt', '']
# quebra quando acha, neste caso, a letra 'e'

['Python é uma linguag', 'm ', 'xc', 'l', 'nt', '']

In [78]:
a = '123'
b = ' de Oliveira 4'
a + b # '123 de Oliveira 4'
a.__add__(b) # '123 de Oliveira 4'
str.__add__(a,b) # '123 de Oliveira 4'

dir(str) # mostra as funcoes para str

help(hash)

Help on built-in function hash in module builtins:

hash(obj, /)
    Return the hash value for the given object.

    Two objects that compare equal must also have the same hash value, but the
    reverse is not necessarily true.

# Listas

In [87]:
lista = [] # lista vazia
type(lista) # list

# help(list)

len(lista) # 0
lista.append(1)
lista.append(5)
lista.append([1,2,3]) # [1, 5, [1, 2, 3]] - uma lista dentro de outra
lista # [1, 5]

nova_lista = [1,5, 'Ana', 'Bia']
nova_lista.remove(5)
nova_lista # [1, 'Ana', 'Bia']
nova_lista.reverse()
nova_lista # ['Bia', 'Ana', 1] - como lista é mutável
## a funcao reverse realmente altera a lista

[1, 5, [1, 2, 3]]

In [91]:
lista = [1, 5, 'Rebeca', 'Guilherme', 3.1415]
lista.index('Guilherme') # 3 - lista é indexada
# lista.index(42) - ERRO pois não existe elemento de indice 42
lista[2] # 'Rebeca' - elemento indice 2
1 in lista # True
lista[-1] # 3.1415 - da direita p/esquerda

3.1415

In [97]:
lista = ['Ana', 'Lia', 'Rui', 'Paulo', 'Dani']
lista[1:3] # ['Lia', 'Rui'] - não mostra o de indice 3
lista[1:-1] # ['Lia', 'Rui', 'Paulo'] - não mostra o de indice -1(último)
lista[1:] # ['Lia', 'Rui', 'Paulo', 'Dani'] - de indice 1 até o final
lista[::2] # ['Ana', 'Rui', 'Dani'] de dois em dois
del lista[2] # ['Ana', 'Lia', 'Paulo', 'Dani'] - exluiu elemento de indice 2
del lista[1:] # ['Ana'] excluiu de indice 1 até o final
lista

['Ana']

# Tupla

In [105]:
tupla = tuple()
tupla = () # tuplas podem ser criadas com um par de parenteses
# assim como listas podem ser criadas com par de colchetes
type(tupla)
# help(tuple)
# tupla('um') - cria uma string e não uma tupla
tupla = ('um',) # é preciso colocar uma vírgula 
# para indicar que é uma tupla e não somente uma string
tupla[0] # 'um'
# tupla[0] = 'nome' - ERRO - tupla é imutável
cores = ('verde', 'amarelo', 'azul', 'branco')
cores[0] # 'verde'
cores[-1] # 'branco'
cores[1:] # todos a partir de indice 1
cores.index('amarelo') # 1
cores.count('azul') # só um elemnto com valor azul
len(cores) # 4

4

# Dicionário

In [115]:
pessoa = {'nome': 'Prof(a). Ana', 'idade': 38, 'cursos': ['Inglês', 'Português']}
type(pessoa) # dict
dir(dict)
len(pessoa) # 3

pessoa['nome'] # 'Prof(a). Ana'
pessoa['cursos'][1] # 'Português'
pessoa.keys() # dict_keys(['nome', 'idade', 'cursos'])
pessoa.values() # dict_values(['Prof(a). Ana', 38, ['Inglês', 'Português']])
pessoa.items() # dict_items([('nome', 'Prof(a). Ana'), ('idade', 38), ('cursos', ['Inglês', 'Português'])])
pessoa.get('idade') # 38
pessoa.get('tags') # vazio
pessoa.get('tags', []) # como não encontra volta valor default neste caso [] - vazio

In [124]:
pessoa = {'nome': 'Prof. Alberto', 'idade': 43, 'cursos': ['React', 'Python']}
pessoa['idade'] = 44
pessoa['cursos'].append('Angular')
pessoa.pop('idade') # pop() Lê e extrai o valor do dicionario
pessoa.update({'idade': 40, 'sexo': 'M'})
del pessoa ['cursos']
pessoa.clear() - limpa totalmente o dicionario
pessoa

{}

#  Conjuntos - Set

In [136]:
a = {1,2,3}
type(a) # set
# a[0] - Erro - não é indexado
a = set('coddddd3r') # {'c', 'r', 'o', 'd', '3'} 
# ordem não garantida e não aceita repetição
print(a)
print('3'in a, 4 not in a) # true , true
{1,2,3}=={3,2,1,3} # true, pois todos os valores do 1o. estão contidos no 2o.

#operacoes
c1 = {1,2}
c2 = {2,3}
c1.union(c2) # {1, 2, 3}
c1.intersection(c2) # {2}
c1.update(c2) # {1, 2, 3}
c1
c2 <= c1 # c2 é sub-conjunto de c1? seta apontando para c2 - true
c1 >= c2 # c1 é superconjunto de c2 - seta apontando para c2

{1,2,3} - {2} # {1, 3}
c1 -= {2} # {1, 3}
c1

{'c', 'r', 'o', 'd', '3'}
True True

{1, 3}

# Interpolação

In [144]:
from string import Template

nome, idade = 'Ana', 30

# 1a. opção
print('Nome: %s Idade: %d' % (nome,idade) ) # Nome: Ana Idade: 30
# %s indica que uma variável string será informada para ser substituida por %s
# %d indica que uma variável inteiro será informada para ser substituida por %d
# pode também ser usado %f (float) ou %.2f (para duas casas decimais)
# %r para valor booleano

# 2a. opção
print('Nome: {0} Idade: {1}'.format(nome, idade))

# 3a. opção
print(f'Nome: {nome} Idade: {idade}')
print(f'Nome: {nome} Idade: {idade} {2 ** 8 + 1}') # expressões dentro da interpolação

# 4a. opção
s = Template('Nome: $name Idade: $age')
print(s.substitute(name=nome, age=idade))

Nome: Ana Idade: 30
Nome: Ana Idade: 30
Nome: Ana Idade: 30
Nome: Ana Idade: 30 257
Nome: Ana Idade: 30